:root {
  --purple: #8284fa;
  --purple-dark: #5e60ce;
  --blue: #4ea8d3;
  --blue-dark: #1e6f9f;
  --danger: #e25858;
  
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  background-color: var(--gray-600);
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

ul, ol, li, a {
  text-decoration: none;
  list-style: none;
}
